body {
    background-color: #f2f2f2;
}

.header {
    background-color: #fff;
}

.header__title {
    margin: 0;
    padding: 1.5rem 4rem;
}

.content {
    margin-bottom: 3rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

.footer__text {
    font-weight: bold;
}
