.stamp {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.stamp__title {
    text-align: center;
    margin: 3rem 0;
}

.stamp__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 12rem);
    gap: 3rem;
}

.stamp__layout button {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.stamp__layout button:enabled {
    cursor: pointer;
}
